<div class="col-sm-12" id="toprow">
    <center>
        
        <div class="nav-bar">
        <div id="amex-phrase">
            
                    <%= link_to index_path, id: "an-id" do %>
                    <img id="estijaba-logo" src="https://s3.amazonaws.com/estijabatest/Estijaba.png" />
                    <% end %>
            
          
        
        </div>
        <div class="container">
                
              <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active" style="color:transparent; background-color: transparent; border: none"></li>
                  <li data-target="#myCarousel" data-slide-to="1" style="color:transparent; background-color: transparent; border: none"></li>
                  <li data-target="#myCarousel" data-slide-to="2" style="color:transparent; background-color: transparent; border: none"></li>
                </ol>
                <!-- Wrapper for slides -->
                <div class="carousel-inner">
                  <div class="item active">
                    <img src="https://s3.amazonaws.com/estijabatest/boxerslide2.png"  style="width:100%; height: 100%">
                  </div>
                  <div class="item">
                    <img src="https://s3.amazonaws.com/estijabatest/fenceslid2.png"  style="width:100%; height: 100%">
                  </div>
                  <div class="item">
                    <img src="https://s3.amazonaws.com/estijabatest/paintslide.png"  style="width:100%; height: 100%">
                  </div>
                </div>
              </div>
        </div>
        </div>
        <br>
    </center>
</div>

<div>
    
</div>

<div class="col-sm-12" id="font">
        <center>
            <h3 id="fonttitle">Children form the bedrock, innocence, and future for any society. </h3>
        </center> 
    <br>
    <div class="col-sm-3"></div>
    <div class="col-sm-6" id="font">
        <ul>
            <strong id="fonttitle">2.2 billion children around the world. And growing.</strong>
            <br>
            <br>
            Based on data collected from the United Nations, in 2013, the world population stood at 7.2 billion with children representing more than 30.5% at 2.2 billion. These children represent our next generation of leaders, artists, social activists, and athletes. As such, its the responsibility of the global community to make sure that they have a safe environment to grow, play, and learn. Unfortunately, for many children around the world such an environment is not available to them. According to the latest data provided by UNICEF, there are more than 151 million children who are orphans worldwide.
        </ul>
        <ul>
            <strong id="fonttitle">Measuring & Responding to the growing crisis of lost children.</strong>
            <br>
            <br>
            Estijaba, traces its roots to April 30, 2014 - six days after the kidnapping of 243 Nigerian girls by Boko Haram. It was then, that the organization was formed and began embarking on an awareness response to the crisis of lost children. Across the globe, lost children are being created everyday. For purposes of this response study, "Lost Children"  are defined as orphans, juvenile prison inmates, and kidnapped/missing children. Our findings indicate that the high number of lost children can be attributed in large part to armed conflicts, economic under development in certain regions, and different societal factors. 
            </ul>
    </div>
    <div class="col-sm-3"></div>    
</div>

<div class="col-sm-12" id="footerrowempty">
        <div class="col-sm-2"></div>
        <div class="col-sm-3">
            <img src="https://s3.amazonaws.com/estijabatest/star2.png" style="width:20%; margin-bottom:1.5%; margin-top:1.5%">
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-3">
            <img src="https://s3.amazonaws.com/estijabatest/star2.png" style="width:20%; margin-bottom:1.5%; margin-top:1.5%">
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-3">
            <img src="https://s3.amazonaws.com/estijabatest/star2.png" style="width:20%; margin-bottom:1.5%; margin-top:1.5%">
        </div>
</div>
<div class="col-sm-12">
    <div class="col-sm-3"></div>
    <div class="col-sm-6" id="font">
        <br>
        <ul>
        <center>
        <h3 id="fonttitle">Estijaba is Arabic for response. A response for awareness, for hope, and that is needed.</h3>
        </center>
        <br>

        On April 14, 2014; more than 276 female students were kidnapped in Nigeria by men belonging to a group called Boko Haram. 
        </ul>
    </div>
    <div class="col-sm-3"></div>    
</div>

<div class="col-sm-12">
    <div class="col-sm-2" id="font">
        <div class="row">
          <div class="col-sm"><img  src="https://s3.amazonaws.com/estijabatest/NYU.jpg" /></div>
        <div class="col-sm">
            <strong>Imam Khalid Latif<br></strong>
            Executive Director and Imam for the Islamic Center at
            New York University (NYU)
        </div>
        </div>  
    </div>
    <div class="col-sm-2" id="font"></div>
    
    <div class="col-sm-2" id="font">
        <div class="row">
          <div class="col-sm"><img  src="https://s3.amazonaws.com/estijabatest/Professor.jpg" /></div>
          <div class="col-sm">
            <strong>Wael Nawara<br></strong>
            Writer, Political Activist, and Former President of the Arab Alliance for Freedom and Democracy (AAFD)
          </div>
        </div>  
    </div>
    <div class="col-sm-2" id="font"></div>
    
    <div class="col-sm-2" id="font">
        <div class="row">
          <div class="col-sm"><img  src="https://s3.amazonaws.com/estijabatest/Dr.%2BNusseibeh.jpg" /></div>
          <div class="col-sm">
            <strong>Dr. Sari Nusseibeh<br></strong>
            President of Al-Quds University in Jerusalem, Diplomat, and Writer
          </div>
        </div>  
    </div>
</div>



<div class="col-sm-12" id="secondrow">
    <div class="col-sm-2" id="fencer3">
        <div class="row">
          <div class="col-sm"><img  src="https://s3.amazonaws.com/estijabatest/Fencer.jpg" /></div>
          <div class="col-sm ">
            <strong>Alaadin Abdulkassem<br></strong>
            Olympian Medalist (London 2012)
              
          </div>
        </div>  
    </div>
    <div class="col-sm-2" id="font"></div>
    
    <div class="col-sm-2" id="boxerfont">
        <div class="row">
          <div class="col-sm"><img  src="https://s3.amazonaws.com/estijabatest/Boxer.jpg" /></div>
        <div class="col-sm ">
            <strong>Hesham Mesbah<br></strong>
            Olympian Medalist (2004, 2008, 2012)
        </div>
        </div>  
    </div>
    <div class="col-sm-2" id="font"></div>
    
    <div class="col-sm-2" id="painter">
        <div class="row">
          <div class="col-sm"><img  src="https://s3.amazonaws.com/estijabatest/Hassan%2BAl%2BShark.jpg" /></div>
          <div class="col-sm ">
             <strong>Hassan Al Shark</strong><br>
            World Renowned & Self-Taught Artist
          </div>
        </div>  
    </div>
</div>

<div class="col-sm-12" id="secondrow">
    <div class="col-sm-2" id="diplomat3">
        <div class="row">
          <div class="col-sm"><img  src="https://s3.amazonaws.com/estijabatest/Diplomat.jpg" /></div>
        <div class="col-sm">
            <strong>Dr. Ezzedine Choukri Fishere<br></strong>
            Diplomat, Novelist, and Academic
        </div>
        </div>  
    </div>
    <div class="col-sm-2" id="font"></div>
    
    <div class="col-sm-2" id="nageh">
        <div class="row">
          <div class="col-sm"><img  src="https://s3.amazonaws.com/estijabatest/Dr.%2BNajeh%2BIbrahim.jpg" /></div>
          <div class="col-sm">
            <strong>Dr. Nageh Ibrahim<br></strong>
            Co-founder of Al Gamaa Al-Islamiya
          </div>
        </div>  
    </div>
    <div class="col-sm-2" id="font"></div>
    
    <div class="col-sm-2" id="actor">
        <div class="row">
          <div class="col-sm"><img  src="https://s3.amazonaws.com/estijabatest/Actor.jpg" /></div>
          <div class="col-sm">
            <strong>Left - Amr ElKady | Right - Asser Abdelghany<br></strong>
            Left - Egyptian Actor and Artist | Right - Egyptian Journalist
          </div>
        </div>
        <div class="row">
          <div class="col-sm"><img  src="https://s3.amazonaws.com/estijabatest/Dr.%2BAshour.jpg" /></div>
          <div class="col-sm">
            <strong>Dr. Mahmoud Ashour<br></strong>
            Former Assistant Dean of Al-Azhar and Chairman of the Committee on Dialogue among Islamic Schools of Thought
            <br>
            <br>
            <br>
            <br>
          </div>
        </div>  
    </div>
</div>


<div class="col-sm-12" id="footer">

          <div class="btn btn-primary">
                    <%= link_to about_path, id: "an-id", :class => "btn" do %>
                    About Us
                    <% end %>
                </div>
    


</div>